name: Cargo Build & Test

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Compilation
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
            # - beta
            # - nightly
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}

      - name: Cache build artifacts
        uses: Swatinem/rust-cache@e8e63cdbf2788df3801e6f9a81516b2ca8391886
        with:
          cache-bin: "false"
          prefix-key: "v2-maho"

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@v1.10.7

      - name: Install cargo-nextest
        run: cargo binstall cargo-nextest

      - name: Build and Test
        run: |
          cargo build --verbose
          cargo nextest run --verbose

  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run formatter
        run: cargo fmt --check
