name: Cargo Build & Test

on:
  push:
    branches:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Compilation
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        toolchain:
          - stable

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}

      - name: Cache build artifacts
        uses: Swatinem/rust-cache@v2.8.2
        with:
          cache-bin: "false"
          prefix-key: "v6-maho-${{ matrix.os }}-${{ matrix.toolchain }}"

      - name: Install tools
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest,just

      - name: Build and Test
        run: |
          cargo build --workspace --verbose
          cargo nextest run
          just integration

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}

      - name: Cache build artifacts
        uses: Swatinem/rust-cache@v2.8.2
        with:
          cache-bin: "false"
          prefix-key: "v6-maho-${{ matrix.toolchain }}"

      - name: Install tools
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest,cargo-llvm-cov,just

      - name: Build and Test
        run: |
          cargo build --workspace --verbose
          just coverage
          just coverage-codecov

      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: codecov.json
          fail_ci_if_error: true

  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run formatter
        run: cargo fmt --check
