name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: pnpm
          cache-dependency-path: docs/pnpm-lock.yaml

      - name: Install Rust toolchain
        run: rustup update stable && rustup default stable && rustup target add wasm32-unknown-unknown

      - name: Cache Rust build artifacts
        uses: Swatinem/rust-cache@v2.8.2
        with:
          cache-bin: "false"
          prefix-key: "v3-docs"

      - name: Install wasm-pack
        uses: taiki-e/install-action@v2
        with:
          tool: wasm-pack

      - name: Build WASM module
        run: cd docs && pnpm wasm

      - name: Install dependencies
        run: cd docs && pnpm install

      - name: Build documentation website
        run: cd docs && pnpm build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: "docs/build/"

  deploy:
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
