name: Cargo Build & Release

permissions:
  contents: write

on:
  push:
    tags:
      - v[0-9]+.*

jobs:
  create-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/create-gh-release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  build-and-release:
    needs: create-release
    name: Build & Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu

          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl

          - os: macos-latest
            target: universal-apple-darwin

          - os: windows-latest
            target: x86_64-pc-windows-msvc

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install cross-compilation tools
        uses: taiki-e/setup-cross-toolchain-action@v1
        if: startsWith(matrix.os, 'ubuntu')
        with:
          target: ${{ matrix.target }}
      
      - name: Build and Release
        uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: purescript-analyzer
          package: purescript-analyzer
          include: README.md,LICENSE,ACKNOWLEDGEMENTS.md,THIRDPARTY.toml
          leading-dir: true
          locked: true
          target: ${{ matrix.target }}
          token: ${{ secrets.GITHUB_TOKEN }}
